/*************** Site Plan Design Brief ***************/
/*
	https://coolors.co/d6e3f8-fef5ef-ee9636
	primary color: #EE9636 - Carrot Orange
	secondary color: #D6E3F8 - Lavender (web)
	background color: #FFFEFB - Baby Powder
	text color: #001657
	font family:
*/

/*************** Variables and Defaults ***************/
:root {
	--primary-color: #EE9636;
	--secondary-color: #D6E3F8;
	--background-color: #FFFEFB;
}

* {
	color: #001657;
	font-family: "Newsreader", 'Times New Roman', Times, serif;
}

header,
footer,
main {
	padding: 0.5rem;
}

/*********************** HEADER ***********************/

header {
	background-color: var(--primary-color);
	display: grid;
	grid-template-columns: 36px 1fr 44px 44px;
	padding-bottom: 10px;
	align-items: center;
}

header img {
	background-color: var(--background-color);
	border-radius: 5px;
	width: 100%;
	height: auto;
}

header span {
	font-weight: 600;
	margin: 0 5px;
}

/***************** Dark Mode Selector *****************/
.dark-mode {
	background: none;
	border: none;
	/* color: var(--secondary-color); */
	cursor: pointer;
	font-size: 2rem;
	height: 2rem;
}

.dark-mode::after {
	content: '\25D0';
}

.dark-mode.show::after {
	content: '\263C';
}

/***************** HAMBURGER NAVIGATION ***************/
.hamburger {
	background: none;
	border: none;
	/* color: var(--secondary-color); */
	cursor: pointer;
	font-size: 2rem;
}

.hamburger::after {
	content: "\2630";
}

.hamburger.show::after {
	content: "\00d7";
}

.nav-bar {
	display: none;
}

.nav-bar.show {
	display: block;
}


#mobile-nav {
	display: none;
	border-top: 1px solid #aaa;
	grid-column: 1/-1;
}

#mobile-nav.show {
	display: unset;
}

.nav-links {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.nav-links a {
	text-decoration: none;
	padding: 15px 0;
}

.nav-links a:hover {
	background-color: var(--secondary-color);
}

.nav-links .active {
	text-decoration: underline;
	text-underline-offset: 5px;
}

/****************** Main - Directory ******************/
.directory-page {
	background-color: var(--background-color);
}

.directory-page h1 {
	text-align: center;
}

#directory-menu {
	display: flex;
	justify-content: center;
}

#directory-menu button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	margin: 2px;
}

#directory-menu button::after {
	color: var(--primary-color);
	padding: 2px;
	border: 2px solid var(--background-color);
}

#directory-menu #grid::after {
	content: '\1392 \1392 \1392';
}

#directory-menu #list::after {
	/* content: '\22ee \2630'; */
	content: '\2630';
}

#directory-menu .active::after {
	border: 2px solid var(--primary-color);

}

.member-table {
	width: 100%;
	border-spacing: 0;
}

.member-table td {
	padding: 1rem 0.5rem;
}

.member-table tr:nth-child(even) {
	background-color: var(--secondary-color);
}

.member-cards {
	display: grid;
	justify-content: center;
}

.member-card {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--secondary-color);
	margin: 1rem;
	padding: 1rem;
	box-shadow: 5px 5px 4px #999;
	width: 300px;
	align-self: center;
	/* Try setting a fixed width to fix Lighthouse score */
}

.member-card img {
	width: 200px;
	max-width: 200px;
	height: auto;
	margin: 1rem auto;
}

.member-card span {
	text-align: center;
}

/*********************** Footer ***********************/
footer {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-left: 1rem;
}

footer h2,
footer p,
footer a {
	margin: 1px 0;
	text-decoration: none;
}

footer h2 {
	font-size: 1.25rem;
}

.social-links {
	display: grid;
	grid-template-columns: 48px 48px 48px;
	gap: 1rem;
	/* align-self: center; */
}

.social-links img {
	width: 44px;
	height: 44px;
	border-radius: 22px;
}