@media only screen and (min-width: 1200px)
{
	/*************** Variables and Defaults ***************/
	header, main, footer {
		padding: 1rem 5rem;
	}

	/*********************** HEADER ***********************/
	header {
		grid-template-columns: 36px 1fr 1fr 44px;
		align-items: end;
		padding-bottom: 1rem;
	}

	/***************** HAMBURGER NAVIGATION ***************/
	.hamburger,#mobile-nav {
		display: none;
	}

	.nav-bar {
		display: initial;
		justify-self: end;
	}

	.nav-links {
		flex-direction: row;
		align-self: flex-end;
		margin: 0;
		gap: 1rem;
	}

	.nav-links li {
		list-style: none;
		margin: 1rem 0 0 0;
	}

	.dark-mode::after {
		align-self: stretch;
	}

	/* Hide the hamburger menu if it's open before the screen gets resized */
	.mobile-nav {
		display: none;
	}

	/********************* Main - Home ********************/
	.current-events {
		grid-template-columns: 2fr 1fr 1fr;

	}

	#spotlight {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/****************** Main - Directory ******************/
	.member-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/*********************** Footer ***********************/
	footer {
		flex-direction: row;
		justify-content: space-between;
	}
}