@media only screen and (min-width: 641px) {

	.discover-cards div {
		grid-template-areas:
		"name name"
		"photograph address"
		"photograph cost"
		"photograph description"
		"photograph button";
	}

	.discover-cards div figure {
		overflow: hidden;
	}

	.discover-cards div img {
		transition: transform 1s;
	}

	.discover-cards div img:hover {
		transform: scale(1.25);
	}
}