@media only screen and (min-width: 1024px) {
	/********** Navigation *******/
	.nav-links {
		display: inherit;
	}

	.hamburger {
		display: none;
	}

	/********** Main - Learn *****/
	.learning-card {
		grid-template-columns: 1fr 300px;
	}

	.learning-card img {
		grid-row: 1 / 5;
		grid-column: 2 / 3;
	}

	dialog img {
		float: right;
	}

	/********** Main - Play ******/

	#elevenObjParts .sign-card{
		flex: 1 0 21%;
		display: flex;
	}

	#elevenObjParts .sign-card img {
		margin: 0 auto;
	}

	/********** Main - Challenge */

	/********** Footer ***********/

	footer {
		display: grid;
		grid-template-areas: 
		"youtube copyright social"
		"youtube modified social";
		align-items: center;
		text-align: center;
	}

	#youtube-link {
		grid-area: youtube;
	}

	#copyright {
		grid-area: copyright;
		margin-bottom: 0.5rem;
	}

	#modified {
		grid-area: modified;
		margin-top: 0.5rem;
	}

	#social-links {
		grid-area: social;
		justify-content: center;
	}

}