/* ========================= Color Scheme =========================
	Dark Grayish Pink #B29BAA
	Dark Grayish Cyan-Lime Green #B8E2C8
	Very Dark Grayish Lime Green #627264
*/

/*************************** SITE WIDE ***************************/
:root {
	--primary-color: #B8E2C8;
	--secondary-color: #B29BAA;
	--accent-color: #244029;
	--light-border: 1px solid #aaaaaa90;
}

* {
	/* Universal rules */
	font-family: "Bricolage Grotesque", sans-serif;
	box-sizing: border-box;
}

/***************************** HEADER *****************************/
header {
	display: grid;
	grid-template-columns: 36px auto 44px;
	padding: 5px 0 5px 10px;
	border-bottom: solid 1px #ddd;
	column-gap: 8px;
	align-items: center;
}

header img {
	display: block;
	width: 100%;
	height: auto;
	padding-bottom: 5px;
}

header span {
	font-size: 1.2rem;
	color: var(--accent-color);
	font-weight: 500;
}

/********************** HAMBURGER NAVIGATION *********************/
.hamburger {
	background: none;
	border: none;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 2rem;
}

.hamburger::after {
	content: "\2630";
}

.hamburger.show::after {
	content: "\00d7";
}

.navigation {
	display: none;
}

.navigation.show {
	display: block;
}

.navigation ul {
	list-style: none;
	background-color: var(--primary-color);
	color: black;
	padding: 0;
}

.navigation li {
	font-size: 1.5rem;
	padding: 5px 0 5px 5px;
	border: 1px solid gray;
}

.navigation li:not(:first-child) {
	border-top: none;
}

.navigation a {
	text-decoration: none;
	color: black;
}

.navigation a:hover {
	border-bottom: 3px solid var(--accent-color);
}

.current {
	background-color: var(--secondary-color);
}

.current a {
	color: #000;
}

/******************************* MAIN *******************************/

main {
	display: flex;
	flex-direction: column;
	/* width: 95%; */
	margin: 0 1rem;
}

main h1 {
	margin-bottom: 0;
}

main section {
	border: var(--light-border);
	border-radius: 5px;
	margin: 0.5em 0;
	background-color: var(--primary-color);
	color: black;
}

main section h2 {
	text-align: center;
	background-color: var(--secondary-color);
	color: black;
	margin: 0;
	padding: 1rem;
	border-radius: 5px 5px 0 0;
}

main section p {
	margin: 1rem;
}

main section img {
	display: block;
	margin: 1rem auto;
	width: 95%;
	max-width: 300px;
	height: auto;
	border: var(--light-border);
	border-radius: 15px;
}

#certs {
	text-align: center;
	background-color: white;
	border: none;
}

#certificate-btns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
	gap: 0.5rem;
	margin: 0.5rem 0;
}

#certificate-btns input {
	margin: 0.25rem 0;
	width: 100%;
	border-radius: 10px;
	background-color: var(--primary-color);
	font-size: 2rem;
}

#certificate-btns .active {
	background-color: var(--accent-color);
	color: white;
}

#certificate-btns input:hover {
	background-color: #69AF7C;
}

#certificate-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0.5rem 0;
}

#certificate-list > * {
	background-color: var(--primary-color);
	border: var(--light-border);
	padding: 5px;
	border-radius: 7px;
}

#certificate-list .completed{
	background-color: var(--secondary-color);
}

#certificate-list .completed::before {
	content: '✓';
	font-weight: bold;
}

dialog {
	text-align: left;
	width: 66%;
	max-width: 400px;
}

::backdrop {
	background-color: #00000088;
}

/****************************** FOOTER ******************************/
footer {
	color: black;
	padding: 1rem 10px;
	text-align: center;
}

.socials {
	display: flex;
	justify-content: center;
	column-gap: 8px;
	margin-bottom: 1rem;
}

.socials a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border: var(--accent-color) solid 1px;
	border-radius: 22px;
}

.socials a:hover {
	border-color: var(--secondary-color);
	box-shadow: 0 0 3px var(--accent-color);
}

.socials img {
	width: 22px;
	height: 22px;
}

footer p {
	background-color: var(--primary-color);
	margin: 0;
	padding: 0.5rem;
}