/* TODO: Finish desktop CSS
   TODO: change main display to grid */

@media only screen and (min-width: 1200px)
{

	/************************* SITE WIDE *************************/
	header, nav, footer {
		margin: 0 1rem;
	}

	/*************************** HEADER ***************************/
	header {
		grid-template-columns: 58px auto;
	}

	/******************** HAMBURGER NAVIGATION *******************/
	.hamburger {
		display: none;
	}

	.navigation {
		display: block;
	}

	.navigation ul {
		display: flex;
	}
	.navigation li {
		padding: 5px 10px;
		border: none;

	}

	/***************************** MAIN *****************************/
	main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 1rem;
	}

	main h1,
	#certs {
		grid-column: 1/3;
	}

	#certificate-btns,
	#certificate-list {
		gap: 1rem;
	}

	#certificate-btns input {
		font-size: 1.25rem;
	}

	#certificate-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}